/* font installation */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    margin-left: 80px;
    margin-right: 80px;
}

/* Button Style */
.btn-primary {
    border: 2px rgb(0, 106, 80);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

button:hover {
    background-color: rgb(0, 0, 0);
}

/* nav style */
.nav-mom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav-mom h3 {
    font-size: 32px;
    font-weight: 700;
    margin-left: 0;
}

.nav-mom button {
    width: 150px;
    height: 52px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    border: 2px solid rgb(0, 106, 80);
    border-radius: 8px;
    margin-right: 0;
}

/* banner style */

.banner-papa {
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.banner-mom {
    margin: 0;
}

.banner-mom p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.banner-mom h1 {
    font-size: 56px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-banner {
    width: 270px;
    height: 56px;
}

/* Pillars Style */

.pillars-papa {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-around;
    gap: 24px;

}

.sec-header {
    margin: 60px 0 15px 0;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}

.pillars {
    width: auto;
    height: auto;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 20px 0 20px 0;
    margin: 0;
}

.pillars-h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.sec-2-pass {
    margin-left: 0;
}

.pillars button {
    width: 125px;
    height: 45px;
    border-radius: 8px;
}

.sec-3-1 {
    margin: 0;
    background-image: url(./image/quote-bg.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: top left;
}

.sec-03 {
    height: 140px;
    width: auto;
    margin-left: 0;
    margin-top: 20px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 16px;
}

.sec-3-1 h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

/* News */

.container {
    margin-left: 0;
}

.news-card {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    align-items: center;
}

.news-card img {
    border-radius: 10px;
}

.recent-news {
    margin-left: 0;

}

.news-content {
    margin-left: 0;
    margin-right: 0;
}

.gapp {
    margin-bottom: 15px;
}

.gap {
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(14, 14, 14, 0.7);

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

time {
    display: block;
}

.cnt {
    text-align: center;
}

.taka-1 {
    margin-left: 0;
    height: 150px;
    display: flex;
    justify-content: space-around;

    margin-bottom: 30px;
}

.taka {
    width: 300px;
    height: 150px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}
.taka:hover{
    background-color: rgb(0, 153, 20);
}
.taka h2 {
    text-align: cent;
    font-size: 30px;
font-weight: 600;



}
input{
    width: 900px;
    height: 80px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}

.news-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}
.vvbb{
    display: flex;
    justify-content: center;
    align-items: center;
}


.read-more {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    background: rgb(0, 106, 80);
}

.read-moree {
    height: 80px;
    width: 150px;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    background: rgb(0, 106, 80);
}
.today{
    margin-bottom: 20px;
}
.gghh{
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-more:hover {
    background-color: #083026;
}